<header class="header" id="buttontop">
    <div class="header__row">
        <nav class="header__menu menu">
            <div class="menu__icon icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu__body">
                <div class="desctop-logo">
                    <p>superstar</p>
                    <img src="../img/star-logo.svg" alt="" class="header__logo logo">
                    <p>prodaction</p>
                </div>
                <ul class="menu__list">
                    <li><a href="" class="menu__link">️Главная️</a></li>
                    <li><a href="" class="menu__link">Запись</a></li>
                    <li><a href="" class="menu__link">Блог</a></li>
                    <li><a href="#num" class="menu__link">Контакты</a></li>
                </ul>
            </div>
        </nav>
        <img src="../img/star-logo.svg" alt="" class="header__logo logo">
    </div>
</header>